:root {
    --cor00: #f2f9ff;
    --cor01: #ccbbff;
    --cor02: #59429d;
    
}
* {
    margin: 0%;
    padding: 0%;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #6600ff;
    border-radius: 50px;
}
::-webkit-scrollbar-track {
    background: #00cc99;
}
body {
    background-color: #f2f9ff;
}
div.colunas{
padding-left: 20px;
display: flex;
flex-direction: column;
width: 30%;

}
fieldset.linhas{
display: flex;
flex-direction: row;
border: none;
}
h1 {
    margin-top: 0%;
    padding-top: 30px;
    padding-bottom: 20px;
}
form div select {
    color: var(--cor02);
    font-size: 1em;
}
header.first {
    margin: auto;
    min-width: 320px;
    max-width: 550px;
    text-align: center;
    color: var(--cor02);
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
div.campo {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#check {
    padding-left: 20px;
}
    header.first > p{
margin-bottom: 0%;
padding-bottom: 20px;
    }

fieldset.grupo {
    text-decoration: none;
    border: none;
}
form label {
    font: bold 1.1em Arial, Helvetica, sans-serif;
}
    form {
        color: #59429d;
        margin: auto;
padding: 0px 20px;
        min-width: 350px;
        max-width: 550px;
    }
    textarea:focus{
        background-color: var(--cor00);
    }
    textarea {

        width: 90%;
        margin-bottom: 15px;
        border-radius: 5px;
    }
    button {
        background-color: var(--cor02);
        display: block;
        margin: auto;
        width: 225px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 1.2em;
        color: white;
    }
    button:hover{
        background: #ccbbff;
        color: var(--cor02);
        cursor: pointer;
    }